[submodule "lightweight_filtering"]
	path = lightweight_filtering
	url = https://bitbucket.org/bloesch/lightweight_filtering.git
[submodule "src/kindr"]
	path = src/kindr
	url = https://github.com/ethz-asl/kindr.git
